<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "FizzBuzz Phoenix" %></h1>
  <p>A small web application that<br/>implements the FizzBuzz challenge.</p>
</section>


<table class="table table-items table-hover">
  <thead>
    <tr>
      <th>Value</th>
      <th>Favorite</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

